@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, pink, blue);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .hero-section {
    @apply hidden bg-[#020617];
  }
}